@model TP_PWEB2.Models.Alojamento

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Alojamento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="imagem" class="control-label"></label>
                <input asp-for="imagem" class="form-control-file" multiple />
                <span asp-validation-for="imagem" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Descrição</label>
                <input asp-for="descricao" class="form-control" />
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>

            <div class="form-select">
                <labelclass="control-label">Categoria</label>
                <select asp-for="categoria_Id" aria-label="size 3 select example">
                    <option selected>Categoria do Imovel</option>
                    @foreach (var item in Model.lista_categorias)
                    {
                        <option value="@item.CategoriaId">@item.nome</option>
                    }
                </select>
                <span asp-validation-for="categoria_Id" class="text-danger"></span>
            </div>



            <div class="form-group">
                <label class="control-label">preço</label>
                <input asp-for="preco" class="form-control" />
                <span asp-validation-for="preco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cria Alojamento" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volte à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}