@{
    ViewData["Title"] = "Home Page";
}

<div class="home">
</div>
<div class="texto">
    <h1>AIR PWEBNB</h1>
    <h3>O seu site de escolha para umas excelentes férias!</h3>
</div>

<div class="texto2">
    <p>Olá bem vindo ao nosso site desenvolvido para poder experienciar e encontrar excelentes negócios para as suas férias!</p>
    <p>Pode encontrar aqui desde vivendas a ótimos apartamentos com avaliações de outros utilizadores para que possa fazer a escolha certa!</p>

</div>



