@model TP_PWEB2.Models.Avaliacao

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Avaliacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @if (User.IsInRole("Cliente"))
            {
                <div class="form-group">
                    <label asp-for="avaliacao_do_cliente" class="control-label"></label>
                    <input asp-for="avaliacao_do_cliente" class="form-control" />
                    <span asp-validation-for="avaliacao_do_cliente" class="text-danger"></span>
                </div>
            }
            else if (User.IsInRole("Gestor"))
            {
                <div class="form-group">
                    <label asp-for="avalicacao_do_gestor" class="control-label"></label>
                    <input asp-for="avalicacao_do_gestor" class="form-control" />
                    <span asp-validation-for="avalicacao_do_gestor" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volte à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
